.blogList {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    list-style: none;
    padding: 0;
    position: relative;

    li {
        flex: 0 0 33%;
        margin: 0 $mainGutter $mainGutter 0;
        max-width: 393px;
        padding: 0;
        text-align: center;
        width: 100%;

        &:nth-of-type(3n + 1) {
            margin-right: 0;
        }

        &:first-child {
            box-sizing: border-box;
            flex: none;
            max-width: 100%;
            padding-left: 60%;
            position: relative;
            text-align: left;

            img {
                bottom: -$mainGutter;
                left: 0;
                height: 100%;
                position: absolute;
                top: 0;
                width: 60%;
            }

            time {
                display: initial;
            }
        }

        h1 {
            color: $secondaryColour;
            font-size: 1.4rem;
        }

        img {
            border-radius: $mainBorderRadius;
            height: 14.8rem;
            margin-bottom: $mainGutter / 2;
            object-fit: cover;
            width: 100%;
        }

        time {
            display: none;
        }
    }
}
