.masthead {
    background: $primaryColour;
    color: $mainBackground;
    margin-bottom: $mainGutter;
    padding: $mainGutter;

    h1 {
        line-height: 2.75rem;
        text-align: center;
        text-transform: uppercase;

        span {
            box-shadow: 1.25rem 0 0 $secondaryColour,
                -1.25rem 0 0 $secondaryColour;
            background-color: $secondaryColour;
            padding: .6rem 0 .5rem;
        }
    }

    .container {
        border: 3px solid $mainBackground;
        box-sizing: border-box;
        margin-bottom: 0;
        padding: $mainGutter * 2;
    }
}
