body {
    color: $tertiaryColour;
    font: normal 1rem/1.6rem proxima-nova, Arial, sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0 0 1.6rem;
    position: relative;
    text-transform: uppercase;

    &[data-subtitle] {
        margin: 3.1rem 0;
        z-index: 2;

        &:after {
            color: #ebebeb;
            content: attr(data-subtitle);
            font-family: bebas-neue;
            font-size: 3rem;
            font-weight: 100;
            left: 0;
            line-height: 2.8rem;
            opacity: .75;
            position: absolute;
            text-align: center;
            text-transform: uppercase;
            top: 50%;
            transform: translateY(-55%);
            width: 100%;
            z-index: -1;
        }

        &.alternate {
            &:after {
                color: $tertiaryColour;
                display: block;
                font-size: 2.6rem;
                margin-top: 1.6rem;
                position: relative;
            }
        }

        &.secondary {
            color: $mainBackground;

            &:after {
                color: #2a498d;
            }
        }

        &.tertiary {
            &:after {
                color: $mainBackground;
            }
        }
    }
}

h1 {
    font-size: 2rem;
}

h2,
h3 {
    color: $primaryColour;
    display: inline-block;
    font-family: shelby;
    font-size: 4rem;
    padding: 0 1.8rem;
    text-transform: lowercase;
}

h3 {
    color: $primaryColour;
    font-family: 'Proxima Nova', sans-serif;
    text-transform: uppercase;
    font-size: 1.4rem;
}

h4 {
    font-size: 1.4rem;
}

h5 {
    font-size: 1.2rem;
}

h6 {
    font-size: 1.0rem;
}

p {
    margin: 0 0 1.6rem;
}
