@import 'variables';

body {
    background: $mainBackground;
    font: normal 1rem/1.0 Arial;
}

.container {
    margin: 0 auto;
    max-width: 920px;
}

@import './components/mainHeader';
@import './components/mainNavigation';
