@import 'variables';

body {
    background: $mainBackground;
    margin: $mainGutter 0;
    padding: 0;
}

a {
    color: $primaryColour;
    font-weight: 600;
    text-decoration: none;

    &:active,
    &:focus,
    &:hover {
        text-decoration: underline;
    }

    &[href^="mailto:"],
    &[href^="tel:"] {
        padding-left: 20px;
        position: relative;

        &:before {
            background: url("/images/icons.png") -15px 0;
            bottom: 0;
            content: '\00a0';
            display: inline-block;
            height: 18px;
            left: 0;
            margin: 0 .25rem 0 0;
            position: absolute;
            width: 15px;
        }
    }

    &[href^="mailto:"] {
        &:before {
            background-position: -30px 0;
        }
    }
}

hr {
    background: url('/images/bg_divider.png') center center no-repeat;
    border: none;
    height: 6.2rem;
    margin: 0 0 1.6rem 0;
}

.btn {
    cursor: pointer;
    display: inline-block;
    font-family: "Proxima Nova";
    font-size: .75rem;
    font-weight: 700;
    line-height: 1.6rem;
    text-transform: uppercase;
    transition: all $mainTransitionDuration;

    &:hover {
        text-decoration: none;
    }

    &.primary {
        background: $primaryColour;
        border-radius: .5rem;
        border: .15rem solid $mainBackground;
        box-shadow: 0 0 0 .2rem $primaryColour;
        color: $mainBackground;
        margin: .25rem 0 1.575rem 0;
        padding: .5rem 1.25rem .35rem;

        &:hover {
            background-color: $mainBackground;
            border-color: $primaryColour;
            box-shadow: 0 0 0 0 $mainBackground;
            color: $primaryColour;
        }
    }

    &.secondary {
        background: $mainBackground;
        border-radius: .5rem;
        border: .15rem solid $secondaryColour;
        box-shadow: 0 0 0 .2rem $mainBackground;
        color: $secondaryColour;
        margin: .25rem 0 1.575rem 0;
        padding: .5rem 1.25rem .35rem;

        &:hover {
            border-color: $secondaryColour;
            box-shadow: 0 0 0 0 $mainBackground;
        }
    }

    &.tertiary {
        background: $tertiaryColour;
        border-radius: .5rem;
        border: .15rem solid $mainBackground;
        box-shadow: 0 0 0 .2rem $tertiaryColour;
        color: $mainBackground;
        margin: .25rem 0 1.575rem 0;
        padding: .5rem 1.25rem .35rem;

        &:hover {
            border-color: $mainBackground;
            box-shadow: 0 0 0 0 $tertiaryColour;
        }
    }
}

.container {
    margin: 0 auto $mainGutter;
    max-width: 1280px;
    padding: 0 $mainGutter;

    section {
        margin: 0 auto $mainGutter * 2 auto;
        text-align: center;
    }
}

.aboutSection {
    width: 60%;
}

@import './components/typography';
@import './components/form';
@import './components/mainHeader';
@import './components/mainNavigation';
@import './components/mainFooter';
@import './components/masthead';
@import './components/buckets';
@import './components/featuredSection';
@import './components/blogList';
